@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Poppins&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --theme: #2970ff;
    --black: #000;
    --white: #fff;
    --shadow: rgba(227, 227, 227, 0.75);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

input{
    font-family: "Poppins", sans-serif;
}